<footer>
<div class="row">

	<div class="col span-1-of-2"></div>
	<ul class="footer-nav">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
</div>
	<div class="row">
		<p>
			Copyright &copy; 2018 by Tony Bricca. All rights reserved.
		</p>
	</div>
            </footer>
		</wrapper>
	</body>
</html>
