<div class="container">

  <div class="row">
    <div class="col-sm-4">
    This is where ski resort info will go
    </div>

    <div class="col-sm-8">
      <div id="map"></div>
    </div
  </div>
      <script>

      var initMap = function() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 47.755653, lng: -122.341515},
          zoom: 6
        });
        var marker = new google.maps.Marker({
         map: map,
         draggable: true,
         animation: google.maps.Animation.DROP,
         position: {lat: 46.9282, lng: -121.5045}
       });
       marker.addListener('click', toggleBounce);
      }
      function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }

      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwFm72lurxDke4bowaBD3QazJp3PrX1r8&callback=initMap">
      </script>
