<section class= "bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="hero-text">Pacific Northwest Ski Resort Finder</h1>
        <h3 class="hero-text">A no nonsense map of the ski resorts in the Pacific Northwest</h3> 
       <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
      </div>
    </div>
  </div>
  
</section>



  

 
  
   <div class="container numberCount col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="divider-text">The Pacific Northwest consists of:</h1>
    <div class="skiNumber">
      <span><h1 class="Count skiNumber"><strong>24</strong></span></h1><h3> Ski Resorts </h3></span>
      <span><h1 class="Count skiNumber"><strong>5</strong></span></h1><h3> Mountain Ranges </h3></span>
      <span><h1 class="Count skiNumber"><strong>3</strong></span></h1><h3> States </h3></span>
    </div>
  </div>

  

  <div class="row the-first">
    <div class="col-sm-2">
      <h1>Click and add Ski Resorts to your favorites list!</h1>
    </div>
    <div class="divider"></div>
      <div class="col-sm-10">
        <div class="embed-responsive embed-responsive-4by3">
          <div id="map"class="embed-responsive-item-21by10"></div>
        </div>
      </div>
    </div>
  </div>

  <script>


  var locationName;
  var lattitude;
  var longitude;
  var information;

  $('.Count').each(function () {
    $(this).prop('Counter', 0).animate({
      Counter: $(this).text()
    }, {
      duration: 3000,
      easing: 'swing',
      step: function (now) {
        $(this).text(Math.ceil(now));
      }
    });
  });

  function initMap() {
      var locations = [
        {title:'Crystal Mountain Ski Resort',latLng:{lat:46.9282, lng:-121.5045}, info: 'Number of Lifts: 11\nDay Ticket Price: $72'},
        {title: 'Stevens Pass Ski Resort',latLng:{lat:47.74502, lng:-121.091864}, info: 'Number of Lifts: 10\nDay Ticket Price: $74'},
        {title: 'Hurricane Ridge',latLng:{lat:47.971496114, lng:-123.51749793}, info: 'Number of Lifts: 3\nDay Ticket Price: $34'},
        {title: 'The Summit at Snoqualamie',latLng:{lat:47.424, lng:-121.416}, info: 'Number of Lifts: 27\nDay Ticket Price: $74'},
        {title: 'Mission Ridge Ski Resort',latLng:{lat:47.28833218, lng:-120.392665096}, info: 'Number of Lifts: 6\nDay Ticket Price: $59'},
        {title: 'White Pass Ski Resort',latLng:{lat:48.0331683, lng:-121.1495473}, info: 'Number of Lifts: 8\nDay Ticket Price: $63'},
        {title: 'Alpental Ski Resort',latLng:{lat:47.4431678, lng:-121.4295388}, info: 'Number of Lifts: 4\nDay Ticket Price: $66'},
        {title: 'Mt. Baker Ski Resort',latLng:{lat:48.8584576, lng:-121.6770853}, info: 'Number of Lifts: 8\nDay Ticket Price: $59'},
        {title: 'Whistler Ski Resort',latLng:{lat:50.116322, lng:-122.957359}, info: 'Number of Lifts: 34\nDay Ticket Price: $135'},
        {title: 'Mt.Washington Ski Resort',latLng:{lat:49.738333, lng:-125.29861}, info: 'Number of Lifts: 34\nDay Ticket Price: $85 CAD'},
        {title: 'Mt. Seymour Ski Resort',latLng:{lat:49.393333, lng:-122.944444}, info: 'Number of Lifts: 34\nDay Ticket Price: $56 CAD'},
        {title: 'Grouse Mountain Ski Resort',latLng:{lat:49.38499846, lng:-123.07249971}, info: 'Number of Lifts: 34\nDay Ticket Price: $78 CAD'},
        {title: 'Cypress Mountain Ski Resort',latLng:{lat:49.395556, lng:-123.203333}, info: 'Number of Lifts: 9\nDay Ticket Price: $60 CAD'},
        {title: 'Sasquatch Mountain Resort',latLng:{lat:49.376944, lng:-121.935}, info: 'Number of Lifts: 4\nDay Ticket Price: $60 CAD'},
        {title: 'Manning Park Resort',latLng:{lat:49.066667, lng:-120.783333}, info: 'Number of Lifts: 4\nDay Ticket Price: $55 CAD'},
        {title: 'Timberline Lodge',latLng:{lat:45.331111, lng:-121.71}, info: 'Number of Lifts: 5\nDay Ticket Price: $71'},
        {title: 'Mt. Hood Skibowl',latLng:{lat:45.30189, lng:-121.773212}, info: 'Number of Lifts: 8\nDay Ticket Price: $53'},
        {title: 'Mt. Hood Meadows',latLng:{lat:45.328889, lng:-121.6625}, info: 'Number of Lifts: 6\nDay Ticket Price: $82'},
        {title: 'Anthony Lakes Ski Resort',latLng:{lat:44.9637, lng:-118.2348}, info: 'Number of Lifts: 3\nDay Ticket Price: $35'},

      ];
      // <button type='submit' class='btn btn-primary btn-sm addButton'>Add to List</button>
      var mapCenter = {lat: 47.755653, lng: -122.341515};


        var map = new google.maps.Map(document.getElementById('map'), {
          center: mapCenter,
          zoom: 7,
          mapTypeId: 'terrain'
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i, contentString;

        for (i = 0; i < locations.length; i++) {
         marker = new google.maps.Marker({
           position: locations[i].latLng,
           animation: google.maps.Animation.DROP,
           map: map
         });
         function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }

         google.maps.event.addListener(marker,'click',(function(marker, i){
           return function(){
             locationName = locations[i].title;
             lattitude = locations[i].latLng.lat;
             longitude = locations[i].latLng.lng;
             information = locations[i].info;
             contentString =
               '<div id="content">'+'<h4>'+locations[i].title+'</h4>'+'<div id="bodyContent">'+
               '<p>'+locations[i].info.replace(/\n/g, "<br />")+'</p>'+
                '</div>'+ "<button onclick='addToFavorites()' class='btn btn-primary btn-sm addButton'>Add to Favorites</button>"+
            '</div>';
            infowindow.setContent(contentString);
            infowindow.open(map, marker);
           }
         })(marker, i));
       }

  }
      function addToFavorites() {
        $.ajax({
          type:"POST",
          url: "/favorites",
          data:{
            name:locationName,
            lat:lattitude,
            lng:longitude,
            info:information
          },
          success: function(data){
            console.log("success");
            window.location = data.redirect;
          },
          error:function(err){
            console.log(err);
          }
      });
    }
    </script>
  
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwFm72lurxDke4bowaBD3QazJp3PrX1r8&callback=initMap">
      </script>
