<div class="container">

  <div class="row">
    <div class="col-sm-4">
    <h1> Ski Resort Name </h1>
    <h2>Dope Photo of Resort </h2>
    <h3> Number of Lifts: </h3>
    <h3> Cost of an Adult Day Ticket: </h3>
    <h4> This is where the attention grabbing decription will be </h4>
    </div>
    
    <div class="col-sm-8">
      <div id="map"></div>
    </div
  </div>
      <script>
      var locations = [
        ['Crystal Mountain ',46.9282, -121.5045, 1],
        ['Stevens Pass', 47.74502, -121.091864, 2],
        ['Mount Baker', 48.8584576, -121.6770853, 3],
        ['Hurricane Ridge', 47.971496114, -123.51749793, 4],
        ['The Summit at Snoqualamie', 47.424, -121.416, 5],
        ['Mission Ridge', 47.28833218, -120.392665096, 6],
        ['White Pass', 48.0331683, -121.1495473, 7],
        ['Alpental', 47.4431678, -121.4295388, 8]
      ];
      var initMap = function() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 47.755653, lng: -122.341515},
          zoom: 7,
          mapTypeId: 'terrain'
        });

        var infowindow = new google.maps.InfoWindow();
        var marker, i;

        for (i = 0; i < locations.length; i++) {
         marker = new google.maps.Marker({
           position: new google.maps.LatLng(locations[i][1], locations[i][2]),
           map: map
         });

         google.maps.event.addListener(marker, 'click', (function(marker, i) {
           return function() {
             infowindow.setContent(locations[i][0]);
             infowindow.open(map, marker);
           }
         })(marker, i));
       }

     }


      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwFm72lurxDke4bowaBD3QazJp3PrX1r8&callback=initMap">
      </script>
