<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ski Resorts Map</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../script.js"></script> //access to my script file
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

      <% include partials/header %>

  </head>
  <body>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Login/Signup</h4>
            </div>
            <div class="modal-body">
              <h2>Login</h2>
              	<form class="form" method="post" action="/login">
              		<input type="text" class="input-top form-control" name="email" placeholder="Enter Your Email">
              		<input type="password" class="log-input-btm form-control" name="password" placeholder="Enter Your Password">
              		<input type="submit" value="Login" class="sign-log-btn pull-right btn btn-primary">
              	</form>
              	<h2>Sign Up</h2>
              		<input type="text" class="input-top form-control" name="name" placeholder="Enter Your Name">
              		<input type="text" class="input-mid-top form-control" name="email" placeholder="Enter Your Email">
                  <input type="text" class="input-mid-top form-control" name="city" placeholder="Enter Your City">
              		<input type="password" class="input-mid-btm form-control" name="password" placeholder="Enter Your Password">
              		<button type="submit" id="signup-button" class="sign-log-btn pull-right btn btn-primary">Submit</button>
                  /// trying to make it fire
                  <br><br>

            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    <%-body%>

  </body>
</html>
<script>
$("#signup-button").click(function(){
  console.log( 'signup' ); ///here doesn't work
  $.ajax({
    url:"/auth/signup",
    type:"POST",
    data:{
      name:"Joe",
      email:"Joe@Joe.com",
      city:"Joesphville",
      password:"joe",
      password2:"joe"
    },
    success: function(result) {
      console.log("success");
    }
  });
})
</script>
