.the-first {
  background-color: aqua;
}
#map {
  height: 1000px;
  width: 900px;
  padding-top: 100px;
}
.col-sm-4 {
  background-color: blue;
  height: 100%;
}
.col-sm-8 {
  height: 100%;
}

.bgimage {
  width:100%;
  height:500px;
  background-image: url('hero4.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}

.navbar {
  margin: 0px 0px;
  
}
.navbar-custom {
  color:rgb(40,46,50);
  border-color: black;
}

.footer {
  background-color:rgb(40,46,50);
}

.hero-text {
  color: white;
  background: rgba(96, 125, 139, .4);
  padding: 40px;
  border-radius: 10px;
}

.divider-text {
  color: white;
  padding: 40px;
  border-radius: 10px;
}

.numberCount {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

skiNumber {
  margin: auto;
  justify-content: center;
  display: flex;
}

stateNumber {
  display: inline-block;
}

.numberCount {
  background: rgba(96, 125, 139, .4);
  /* display: block; */
  margin: auto;
  justify-content: center;
  display: flex;
}