* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-nav {
  text-transform: uppercase;
  font-size: 110%;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 150%;
}


/* Background section w/ Map ////////////////// */

.the-first {
  background-color: aqua;
  /* margin-bottom: 100px; */
}
#map {
  height: 800px;
  width: 95%;
  /* width: 600px; */ 
  /* padding-top: 100px; */
  margin-top: 50px;
  margin-bottom: 100px;
  /* padding-right: 50px; */
}
.col-sm-4 {
  background-color: blue;
}
.col-sm-8, .col-sm-4 {
  height: 100%;
  letter-spacing: 1px;
}


.bgimage {
  width:100%;
  height:500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hero4.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
}

h1, h3, p {
  margin: 0;
}

.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}

.navbar-custom, .footer {
  background-color:rgb(40,46,50);
  border-color: black;
  color: white;
}


.primary-text {
  color:white;
  padding: 40px;
  border-radius: 10px;
}
.hero-header {
  font-weight: 400;
  font-size: 400%;
}

.hero-subheader {
  font-size: 30px;
  font-weight: 300;
}

.divider-text {
  font-weight: 400;
  font-size: 45px;
}


.numberCount {
  background: rgba(96, 125, 139, .4);
  position: relative;
  text-align: center;
  margin: 10px auto;
  vertical-align: top;
  padding-bottom: 50px;
 
  /* justify-content: center;
  display: flex; */
}

.block {
  height: 100px;
  width: 300px;
  display: inline-block;
  margin: 10px;
  padding: 20px 20px;
  padding-bottom: 30px;
  /* border: black dotted; */

}

.block h1 {
  font-size: 300%;
}

.count-name {
  font-size: 200%;
}

stateNumber {
  display: inline-block;
}

.form-group {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

